.grid {
  --min: 30ch;

  display: grid;
  
  gap: 1rem;
}

body {
  --padding: 5vw;
  --max-width: 180ch;
}


/* Налаштуйте grid-властивості так, щоб кожний елемент з класом card мав мінімальну ширину, 
що дорівнює 100% або var(--min), та максимальну ширину, що дорівнює мінімальній ширині або 1fr. 
Встановіть автоматичну підгонку стовпчиків. */

.card {
  min-width: minmax(100%, var--min);
  max-width: minmax(var(--min), 1fr);
  grid-auto-columns: auto;
}


